<a href="https://colab.research.google.com/github/Danil1D/Machine-learning/blob/main/%D0%94%D0%B0%D1%88%D0%BA%D0%B5%D0%B2%D0%B8%D1%87_%D0%94%D0%B0%D0%BD%D0%B8%D0%BB%D0%BE_%D0%91%D1%96%D0%BB%D0%B5%D1%82_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Основні функції бібліотеки Pandas:

DataFrame та Series: основні структури для зберігання та обробки даних.
Читання та запис даних: функції, такі як pd.read_csv(), pd.to_csv() для роботи з файлами CSV, Excel та іншими форматами.
Фільтрація та сортування даних: методи для відбору рядків і стовпців, а також для сортування даних за певним критерієм.
Обробка відсутніх даних: fillna(), dropna() дозволяють заповнювати або видаляти відсутні значення.
Агрегація та групування: методи groupby() та agg() дозволяють обчислювати різні статистичні показники.
Злиття та з'єднання таблиць: merge(), join() дозволяють об'єднувати дані з кількох джерел.

2. Методи оптимізації нейронних мереж:

Стохастичний градієнтний спуск (SGD): класичний метод оптимізації, який оновлює ваги після кожного прикладу.
Адам (Adam): адаптивний метод оптимізації, який враховує історію градієнтів і регулює швидкість навчання для кожного параметра.
RMSprop: метод, який розділяє градієнти на середнє значення недавніх квадратичних градієнтів, що запобігає великим коливанням.
Регуляризація (L1, L2): запобігає перенавчанню, додаючи штраф за ваги у функцію втрат.
Раннє завершення (Early Stopping): припиняє навчання, якщо функція втрат на валідаційній вибірці перестає зменшуватися.
Ці методи широко використовуються в нейронних мережах для прискорення навчання та уникнення перенавчання.

In [2]:
import pandas as pd
data = pd.read_csv('titanic.csv')

print("Перші 10 рядків таблиці:")
print(data.head(10))

print("\nРозмір таблиці:")
print(data.shape)

print("\nТипи даних у таблиці:")
print(data.dtypes)

Перші 10 рядків таблиці:
   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3
5          897         0       3
6          898         1       3
7          899         0       2
8          900         1       3
9          901         0       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
5                    Svensson, Mr. Johan Cervin    male  14.0      0      0
6                          Connolly, Miss. Kate  female  30.0      0      0
7                  Caldwell, Mr. Albert Francis    male  26.0      1      1
8     Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0      0      0
9                       Davies, Mr. John Samuel    male  21.0      2      0

      Ticket     Fare Cabin Embarked
0     330911   7.8292   NaN        Q
1     363272   7.0000   NaN        S
2     240276   9.6875   NaN        Q
3     315154   8.6625   NaN        S
4    3101298  12.2875   NaN        S
5       7538   9.2250   NaN        S
6     330972   7.6292   NaN        Q
7     248738  29.0000   NaN        S
8       2657   7.2292   NaN        C
9  A/4 48871  24.1500   NaN        S

Розмір таблиці:
(418, 12)

Типи даних у таблиці:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object